body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

nav a{
    font-weight: 800;
    padding-right: 250px;
}

nav a:hover{
    color: crimson;
}

h2{
   
    font-size: 50px;
    color: red;
    text-shadow: 100px;
    font-family: Arial, Helvetica, sans-serif
   
}

p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    
    color: red;
}

.wrap{
    color: red;
    text-align: center;
}

.seccion-recetas{
    position: relative;
    background-size: 100% auto;
}
.seccion-recetas h1{
    position: absolute;
    top: 50%;
    width:100%;
    font-size: 48px;
}

.title{
    background-color: white;
    text-align: center;
    padding: 50px;
    margin-top: 1044px;
}

body{
    background-repeat: no-repeat;
    background-image: url(../img/Imagen\ prueba.jpg);
    background-size: 100% auto;
    
}
.logo1{
    text-align: center;
}
.redes{
    text-align: center;
}
   
.fa-facebook {
    background: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    color: blue;
    font-size: 30px;
}    
.fa-instagram{
    background: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    color: rgb(233, 48, 79);
    font-size: 30px;
    
}
.fa-twitter{
    background: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    color: rgb(0, 174, 255);
    font-size: 30px;

}

.fondofooter{
    padding-top: 3rem;
}
.recuadrofoot{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(0)*-1);
    margin-right: calc(var 1.5rem*5);
    margin-left: calc(var 1.5rem*5);
}


.footerbg .h2belgrano{
    letter-spacing: 0.1em;
    border: 5px solid;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
    margin-left: 300px;

}
.footerbg .dirbelga{
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    text-decoration-line: underline;
    
    
}
.footerbg .dias{
    color: black;
    font-size: 1.25rem;
    padding-top: 100px;
    letter-spacing: 0.1em;
}
.footerbg .horarios{
    color: black;
    font-size: 1.25rem;
    padding-top: 10px;
    letter-spacing: 0.1em;
}
.recuadrofoot .h2sanisidrio{
    letter-spacing: 0.1em;
    border: 3px solid;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.dirsanisidro{
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    text-decoration-line: underline;
}
    
    


.diassanisidro{
    color: black;
    font-size: 1.25rem;
    padding-top: 100px;
    letter-spacing: 0.1em;
}

.horariossanisidrio{
    color: black;
    font-size: 1.25rem;
    padding-top: 10px;
    letter-spacing: 0.1em;
}
    
    
/* ---------------------------- */
/* cambios bruno */

.footer {
    width: 100%;
    text-align: center;
    position: relative;
}

.tabla-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    vertical-align: middle;
}

.footer-barrio {
    letter-spacing: 0.1em;
    border: 3px solid;
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
    padding: 10px;
}

.footer-direccion {
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    text-decoration-line: underline;
}

.footer-dias {
    color: black;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
}
  
.footer-horarios {
    color: black;
    font-size: 1.25rem;
    padding-top: 10px;
    letter-spacing: 0.1em;
}
